extends ../../layouts/default.pug

block main
    h1(class="mb-4") Chi tiết tài khoản

    if (data.fullName)
        div(class="mb-4") #{data.fullName}

    if (data.email)
        div(class="mb-4") #{data.email}

    if (data.phone)
        div(class="mb-4") #{data.phone}

    if (data.roleTitle)
        div(class="mb-4") #{data.roleTitle}

    if (data.avatar)
        div(class="mb-4") 
            img(
                src=data.avatar 
                style="width: 100px" 
            )
    
    if (data.status)
        div(class="mb-4")
            span Trạng thái: 
            if (data.status === "active")
                span(class="badge badge-success") Hoạt động
            else
                span(class="badge badge-danger") Dừng hoạt động

    a(
        href=`${prefixAdmin}/accounts/edit/${data.id}`
        class="btn btn-warning"
    ) Chỉnh sửa

    script(src="/admin/js/account.js")